html {
  font-size: 18px;
  font-family: Helvetica;
}

header {
  background-image: url("../resources/img/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
  display: flex;
  justify-content: center;
}
#blackbox {
  display: block;
  background-color: black;
  color: white;
  padding: 2rem 3rem;
  width: 20rem;
  position: relative;
  top: 6rem;
}
h1,
h4 {
  font-weight: bold;
}
h1 {
  font-size: 2rem;
  padding-top: .25rem;
}
.company {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
}

.container img{
  height: 1.5rem;
  padding-right: 1rem;
  padding-left: .5rem;
}

.container {
  display: flex;
  align-items: center;
  width: 960px;
}

.company .container {
  justify-content: flex-start;
  padding-top: .66rem;
  padding-bottom: .66rem;
}
.red .container {
  align-content: center;
  justify-content: space-between;
}
.red {
  display: flex;
  background-color: firebrick;
  color: white;
  padding-top: .75rem;
  padding-bottom: .75rem;
  margin: 0 auto;
  justify-content: center;
}

.product_image img {
  height: auto;
  max-width: 8rem;

}
.product_pen,
.product_glasses,
.product_watch {
  width: 30%;
  border: 4px solid black;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3em 0 0 0;
}
.products {
  display: flex;
  justify-content: space-between;
  width: 960px;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.products .container {
  align-items: center;
  justify-content: center;
}
#sub_banner {
  width: 100%;
  justify-content: center;
}
.description{
  background-color: black;
  color: white;
  display: block;
  text-align: center;
  padding: .5rem;
}
div {
  display: block;
}

.location,
.hours {
  background-color: black;
  color: white;
  padding: 1em 2em;
}

.info {
  width: 35%;
  margin-bottom: 4rem;
}

.contact {
  display: flex;
  justify-content: center;
}
.contact .container {
  justify-content: space-between;
}

span {
  display: block;
}
footer{
  display: flex;
  background-color: black;
  color:white;
  height: 5rem;
  justify-content: center;
}
footer .container {
  justify-content: flex-start;
}
span {
  display: block;
}
