html {
  font-size: 18px;
  font-family: Helvetica;
}

header {
  background-image: url("../resources/img/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
  display: flex;
}
#blackbox {
  display: block;
  background-color: black;
  color: white;
  padding: 2rem 3rem;
  width: 20rem;
  position: relative;
  top: 6rem;
}
h1,
h4 {
  font-weight: bold;
}
h1 {
  font-size: 2rem;
  padding-top: .25rem;
}
.company {
  background-color: black;
  color: white;
}

.container img{
  height: 1.5rem;
  padding-right: 1rem;
  padding-left: .5rem;
}

.container {
  display: flex;
  align-items: center;
}

.company .container {
  justify-content: flex-start;
  max-width: 960px;
  padding-top: .66rem;
  padding-bottom: .66rem;
}
